<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Facebook</h2>
                <p class="card-text">I am a funny person indeed!! <br> Go Check it out!!</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.facebook.com/andrew.kamel.39/">Facebook</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">LinkedIn</h2>
                <p class="card-text">LinkedIn Contains all of my Career Work<br>Go Check it out!!</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.linkedin.com/in/andrew-kamel-950b54243/">LinkedIn</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">GitHub</h2>
                <p class="card-text">GitHub Contains all of my Projects <br> Check Them Out!!</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://github.com/TheInfamousDoura">GitHub</a></div>
        </div>
    </div>
</div>
